extends ../layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1 Contrato de #{contrato.Service.name}

    section(class="main-content")
        h3=contrato.Service.description
        .card(style="margin-top: 1rem")
            .card-header 
                h3 Cronograma
            .card-body
                ul.list-group.list-group-flush
                    each entrada in contrato.cronograma
                        if entrada.estado === contrato.estado
                            li.list-group-item.list-group-item-info
                                div(style="width: 100%")
                                    p=entrada.estado
                                    .float-right
                                        a.btn.btn-danger(href=entrada.deleteRoute) Remover
                        else
                            li.list-group-item
                                div(style="width: 100%")
                                    p=entrada.estado
                                    .float-right
                                        a.btn.btn-primary(href=entrada.setRoute style="margin-right: 1rem") Estado atual
                                        a.btn.btn-danger(href=entrada.deleteRoute) Remover
                    li.list-group-item
                        form(action=addStateRoute||`/integrador/contrato/${contrato.id}/novo-estado` method="POST" style="width: 100%")
                            input.form-control(type="text" name="estado")
                            button.btn.btn-primary(style="margin-top: 1rem") Adicionar novo estado

        .card(style="margin-top: 1rem")
            .card-header 
                h3 Gastos
            .card-body
                table.table.table-striped
                    thead
                        tr
                            th Nome
                            th Valor
                            th Ações
                    tbody
                        each gasto in contrato.gastos
                                tr
                                    td=gasto.name
                                    td=gasto.value
                                    td 
                                        a.btn.btn-danger(href=gasto.deleteUrl) Deletar
                        tr
                            form(action=addSpentRoute||`/integrador/contrato/${contrato.id}/criar-gasto` method="POST")
                                td
                                    input.form-control(name="name")
                                td
                                    input.form-control(name="value")
                                td
                                    button.btn.btn-primary Adicionar

                            

