extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1 Gerência
              h3(style="color: white") Módulo de Supervisão dos serviços dos Clientes, Integradores e Fornecedores

    if gerente

        section(class="main-content")
            .card#clientes
                .card-block
                    h3.card-title Clientes
                    .card-text
                        table.table.table-striped
                            tr
                                th CPF
                                th Ações
                            each cliente in clientes
                                tr
                                    td=cliente.cpf
                                    td
                                        a(href=`/contratos?type=cliente&cpf=${cliente.cpf}`) Ver contratos
            .card#integradores
                .card-block
                    h3.card-title Integradores
                    .card-text
                        table.table.table-striped
                            tr
                                th CNPJ
                                th Ações
                            each integrador in integradores
                                tr
                                    td=integrador.cnpj
                                    td
                                        a(href=`/contratos?type=integrador&cnpj=${integrador.cnpj}` style="margin-right: 18px") Ver contratos
                                        a(href=`/contratos-especificos?type=integrador&cnpj=${integrador.cnpj}`) Ver contratos de Serviço Específico
        
            .card#fornecedores
                .card-block
                    h3.card-title Fornecedores
                    .card-text
                        table.table.table-striped
                            tr
                                th CNPJ
                                th Ações
                            each fornecedor in fornecedores
                                tr
                                    td=fornecedor.cnpj
                                    td
                                        a(href=`/contratos-especificos?type=fornecedor&cnpj=${fornecedor.cnpj}`) Ver contratos
                        
        script.
            $(function () {
            $('#myTab a:first').tab('show')
            })
      

        