extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1 Painel do #{userType}

    section(class="main-content")
      ul#myTab.nav.nav-tabs(role='tablist')
        li.nav-item
            a.nav-link.active(data-toggle='tab', href='#search', role='tab', aria-controls='search') Manipular serviços
        li.nav-item
            a.contratosTab.nav-link(data-toggle='tab', href='#contracts', role='tab', aria-controls='contracts') Manipular contratos
      .tab-content
        #search.tab-pane.fade.show.active(role='tabpanel' style="margin-top: 1rem")
            h3 Adicione um servico
                form(action=addRoute method="POST" style="margin-top: 1rem")
                    .form-group(style="margin-right: 10")
                        label Nome
                        input.form-control(type='text', name='serviceName')
                    .form-group(style="margin-right: 10")
                        label Descrição
                        input.form-control(type='text', name='serviceDescription')
                    button.btn.btn-primary(type="submit") Adicionar
                if services
                    .row
                        each service in services
                            .col-md-12.col-lg-6
                                .card(style="margin-top: 1rem; margin-right: 1rem")
                                    .card-block
                                        h4.card-title=service.name
                                        p.card-text
                                            =service.description
                                            |  
                                        a.btn.btn-danger(href=service.deleteRoute) Deletar
        #contracts.tab-pane.fade(role='tabpanel' style="margin-top: 1rem")
            .row
                each contrato in contratos
                    .col-md-12.col-lg-6
                        .card(style="margin-top: 1rem; margin-right: 1rem")
                            .card-block
                                h4.card-title Código #{contrato.id}: #{contrato.Service.name}
                                    br
                                    br
                                    if contrato.Cliente
                                        | CPF do Cliente: #{contrato.Cliente.cpf}
                                    else if contrato.Integrador
                                        | CNPJ do Integrador: #{contrato.Integrador.cnpj}
                                p.card-text
                                    =contrato.Service.description
                                    |  
                                a.cronograma.btn.btn-primary(href=contrato.url) Cronograma

    script.
        $(function () {
        $('#myTab a:first').tab('show')
        })
